@use "breakpoints";
@use "variables";

body {
  height: 100vh;
  overflow: hidden;
}

.page {
  font-family: variables.$main-font;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.rectangle-image {
  position: absolute;
  top: 16px;
  left: 0;
  width: 55%;
  display: none;

    @media (min-width: breakpoints.$breakpoint-lg) {
      display: block;
    }
}

.cells-image {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;

    @media (min-width: breakpoints.$breakpoint-lg) {
      width: 45%;
    }
}

.content {
  max-width: 1750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 32px 16px;

    @media (min-width: breakpoints.$breakpoint-sm) {
      padding: 40px 24px;
    }

    @media (min-width: breakpoints.$breakpoint-2xl) {
      padding: 100px 50px 50px 50px;
    }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 24px;

    @media (min-width: breakpoints.$breakpoint-2xl) {
        gap: 45px;
    }
}

.title-text {
  color: variables.$secondary-color;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2.6px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

    @media (min-width: breakpoints.$breakpoint-lg) {
      gap: 24px;
    }
}

.header-text {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.93px;
  color: variables.$primary-color;
}

.bold {
  font-weight: 500;
}

.slider-wrapper {
  max-width: 1800px;
  overflow: hidden;
}

.slider-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;

    @media (min-width: breakpoints.$breakpoint-lg) {
      padding-right: 60px;
      padding-bottom: 30px;
    }

    @media (min-width: breakpoints.$breakpoint-xl) {
      padding-right: 100px;
      padding-bottom: 40px;
    }
}

.slider-button {
  display: flex;
  gap: 20px;
  font-weight: 400;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: none;

    img {
      width: 100%;
      height: 100%;
    }

    @media (min-width: breakpoints.$breakpoint-md) {
      display: block;
    }
}

.divider {
  width: 1px;
  height: 38px;
  background-color: variables.$secondary-light-color;
  display: none;

    @media (min-width: breakpoints.$breakpoint-md) {
      display: block;
      margin-right: 38px;
      margin-left: 26px;
    }
}

.slider-button .arrow {
  width: 6px;
  height: 9px;
}

.arrow-right {
  transform: rotate(180deg);
}

.slick-slide {
  padding-left: 5px;
  padding-right: 5px;

    @media (min-width: breakpoints.$breakpoint-xl) {
      padding-left: 10px;
      padding-right: 10px;
    }
}

.slick-list {
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
}

.slick-dots {
  width: max-content;
  display: flex !important;
  justify-content: center;
  gap: 6px;
  padding: 20px 0;
  list-style: none;
  top: -30px;
  left: 0;

    @media (min-width: breakpoints.$breakpoint-lg) {
      top: -50px;
    }

  li {
    width: auto;
    height: 4px;

    button {
      width: 70px;
      height: 3px;
      padding: 0;
      background-color: variables.$secondary-light-color;
      border: none;
      transition: background-color 0.3s ease;

      &::before {
        display: none;
      }
    }

    &.slick-active button {
      background-color: variables.$secondary-dark-color;
    }
  }
}

.slide {
  width: 100%;
}

.slide-image {
  max-height: 300px;

    @media (min-width: breakpoints.$breakpoint-3xl) {
      max-height: 100%;
    }
}

.details-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  background-color: variables.$background-primary;
  text-transform: uppercase;
  padding: 8px;
  border-bottom: 3px solid variables.$secondary-light-color;
  margin: -60px 8px 0 8px;

    &::after {
    content: '';
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      height: 20px;
      border-radius: 10px;
      box-shadow: 0px 12px 20px rgba(0, 41, 120, 0.2);
      z-index: -1;
  }

    @media (min-width: breakpoints.$breakpoint-md) {
      padding: 16px;
    }

    @media (min-width: breakpoints.$breakpoint-lg) {
      padding: 16px 40px;
    }

    @media (min-width: breakpoints.$breakpoint-3xl) {
      padding: 22px 56px 28px 56px;
      margin: -120px 20px 0 20px;
    }
}

.general-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: variables.$primary-color;
}

.price {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -1.32px;
  padding-bottom: 8px;

    @media (min-width: breakpoints.$breakpoint-md) {
      font-size: 24px;
      padding-bottom: 12px;
    }

    @media (min-width: breakpoints.$breakpoint-3xl) {
      font-size: 43px;
      padding-bottom: 24px;
    }
}

.name {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 3.6px;
  padding-bottom: 8px;

    @media (min-width: breakpoints.$breakpoint-sm) {
      font-size: 14px;
      padding-bottom: 12px;
    }

    @media (min-width: breakpoints.$breakpoint-3xl) {
      font-size: 18px;
      padding-bottom: 16px;
    }
}

.address {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2.1px;

    @media (min-width: breakpoints.$breakpoint-lg) {
      font-size: 14px;
    }

    @media (min-width: breakpoints.$breakpoint-3xl) {
      font-size: 16px;
    }
}

.apartment-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-block-wrapper {
  display: flex;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 4px 6px;
  color: variables.$primary-light-color;

    @media (min-width: breakpoints.$breakpoint-lg) {
      padding: 8px 16px 4px;
    }

    @media (min-width: breakpoints.$breakpoint-3xl) {
      padding: 8px 40px 4px;
    }

    &:last-child {
      padding-right: 0;
    }

    &:not(:last-child) {
      border-right: 1.2px solid variables.$gray;
    }
}

.numbers {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3px;

    @media (min-width: breakpoints.$breakpoint-sm) {
      font-size: 18px;
    }

    @media (min-width: breakpoints.$breakpoint-lg) {
      font-size: 24px;
    }

    @media (min-width: breakpoints.$breakpoint-3xl) {
      font-size: 30px;
    }
}

.info-text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.32px;

    @media (min-width: breakpoints.$breakpoint-lg) {
      font-size:14px;
    }

    @media (min-width: breakpoints.$breakpoint-3xl) {
      font-size:15.84px;
    }
}

.view-details-button {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: 0;
  margin-left: auto;

    @media (min-width: breakpoints.$breakpoint-lg) {
      gap: 12px;
    }

    @media (min-width: breakpoints.$breakpoint-3xl) {
      gap: 14px;
    }
}

.view-details {
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  color: variables.$primary-color;

    @media (min-width: breakpoints.$breakpoint-lg) {
      font-size: 12px;
    }

    @media (min-width: breakpoints.$breakpoint-3xl) {
      font-size: 15px;
    }
}

.view-details-button .arrow {
  width: 6px;
  height: 9px;
}

.view-all-button {
  width: max-content;
  font-weight: 300;
  letter-spacing: 2.6px;
  color: variables.$primary-color;
  padding: 8px 24px;
  outline: none;
  border: none;
  border-bottom: 2px solid variables.$secondary-dark-color;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
  margin-left: auto;

    @media (min-width: breakpoints.$breakpoint-lg) {
      padding: 12px 32px;
      margin-right: 100px;
    }
}