$main-font: 'Montserrat', sans-serif;
$primary-color: #002349;
$primary-light-color: #002753;
$secondary-color: #3774B3;
$secondary-light-color: #4A89C9;
$secondary-dark-color: #1D558F;
$background-primary: #ffffff;
$gray: #D1D3E0;